.blue {
    color:blue;
}

.red{
    color:red;
}

.nav {
    margin-top: 20px;
    /* position: relative; */
}

.nav-list {
    display: flex;
    margin: 0;  
    padding: 0;
    /* position: relative; */
}

.nav-list-item {
    list-style: none;
    margin-right: 5px;
} 

.nav-list-item:hover .nav-sublist {
    display: block;
}

.nav-list-item-link {
    display: block;
    color:rgb(46, 46, 46);
    background-color:rgba(241, 241, 241, 0.836);
    text-decoration: none;
    padding: 10px 20px;
     
}

.nav-list-item-link:hover {
    
    color:rgb(230, 217, 161);
    background-color:rgb(77, 76, 76); 
    box-shadow: 3px 3px 0px 0 rgba( 0, 0, 0, 0.32);    
}

.note_sm {
    color: blue;
    font-size: 9pt;
    font-weight: bold;
}
